@charset "UTF-8";
h5 {
	text-align: right;
	margin-right: 20px;
}

body{
	background-color: skyblue;
}

td {
	text-align: center;
}

.targetTable {
	margin-right: 250px;
	margin-left: 250px;
	border-collapse: collapse;
	background-color: orange;
	table-layout: fixed; /* テーブルの幅を固定する */
    width: 1000px; /* デフォルト幅を設定 */
}

.tttask {
	width: 21%;
}

.ttexp {
	width: 60%;
}

.ttdate {
	width: 10%;
}

.ttsubmt {
	width: 9%;
}

.edtB {
	text-align: right;
}

.headW {
	text-align: center
}

.header {
	margin-top: 40px;
	margin-bottom: 20px;
	margin-right: 250px;
	margin-left: 250px;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 1000px;
	background-color:orange;
}

.register {
	text-align: center;
	margin-right: 250px;
	margin-left: 250px;
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 80%;
	width: 1000px;
	background-color:orange;
}

.taskBar{
	width: 60%;
}

.infoBar {
	width: 60%;
}

.warng {
	text-align: center;
}